@keyframes desceMenu {
  0% {
    opacity: 0;
    top: -300px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes sobeMenu {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@keyframes pula-pula {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }

  100% {
    opacity: 100%;
    transform: translateY(-10px);
  }
}

@keyframes pula-pula2 {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
