@keyframes desceMenu {
  0% {
    opacity: 0;
    top: -300px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes sobeMenu {
  0% {
    top: 0;
  }
  100% {
    top: -500px;
  }
}

@keyframes pula-pula {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }

  100% {
    opacity: 100%;
    transform: translateY(-10px);
  }
}

@keyframes pula-pula2 {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

//keyframes cards

//animation desktop
//animação lado esquerdo
@keyframes cards-animation1 {
  100% {
    transform: translateX(80px);
  }
}
@keyframes cards-animation2 {
  100% {
    transform: translateX(60px);
  }
}

@keyframes cards-animation3 {
  100% {
    transform: translateX(40px);
  }
}
@keyframes cards-animation6 {
  100% {
    transform: translateX(100px);
  }
}

//animation mobile esquerdo
@keyframes cards-m-animation1 {
  100% {
    transform: translateX(40px);
  }
}
@keyframes cards-m-animation2 {
  100% {
    transform: translateX(20px);
  }
}

@keyframes cards-m-animation3 {
  100% {
    transform: translateX(5px);
  }
}

@keyframes cards-m-animation6 {
  100% {
    transform: translateX(60px);
  }
}

//animação  desktop lado direito
@keyframes cards-animation6-r {
  100% {
    transform: translateX(-100px);
  }
}
@keyframes cards-animation1-r {
  100% {
    transform: translateX(-80px);
  }
}
@keyframes cards-animation2-r {
  100% {
    transform: translateX(-60px);
  }
}

@keyframes cards-animation3-r {
  100% {
    transform: translateX(-40px);
  }
}

@keyframes cards-animation6-r {
  100% {
    transform: translateX(-100px);
  }
}
//animation mobile lado direito
@keyframes cards-m-animation1-r {
  100% {
    transform: translateX(-40px);
  }
}
@keyframes cards-m-animation2-r {
  100% {
    transform: translateX(-20px);
  }
}

@keyframes cards-m-animation3-r {
  100% {
    transform: translateX(-5px);
  }
}

@keyframes cards-m-animation6-r {
  100% {
    transform: translateX(-60px);
  }
}

//animação titulos
.js-scroll {
  h1,
  h2,
  h3 {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.js-scroll.passou {
  h1,
  h2,
  h3 {
    opacity: 1;
    transition: 0.4s ease-out;
    transform: translateX(0);
  }
}
.mobile .js-scroll.passou {
  h1,
  h2,
  h3 {
    opacity: 1;
    transition: 0.5s ease-out;
    transform: translateX(0);
  }
}

//Slide up
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
